@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: format("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
 font-size: 20px;
 line-height: 24px;
 font-weight: 700;
 text-align: center;
 color: #000000;
 background-color: #ffffff;
 text-decoration: none;
}

.maim-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/preview/holma.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.logo-welcome {
  display: block; margin: 0 auto
}

.index-title {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.index-item-description {
  color: #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-title {
  color: #fff;
  background-color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.advantages-item-description {
  color: #ffffff;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list {
  font-size: 24px;
  line-height: 28px;
}

.data {
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.data-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.page-footer {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe {
  color: #ffffff;
  background-image: url("../images/fon/fon-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.subscribe-tite {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
/** Нет идей :)
.social-list {

}
**/
.contact {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.main-inner {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../images/fon/fon-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.inner-breadcrumbs-item {
  color: #fff;
}

.inner-breadcrumbs-link {
 color: inherit;
}

.catalog-filter-grooup {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.select-amount {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
}

.display-list {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.display-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.display-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.display-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.display-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.display-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.pagination {
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-link pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
